<details>
	<summary id="create-profile-manually">我更愿意自己创建 <code>fabric-loader-...</code> 安装。告诉我怎么做！</summary>
	<p>
		首先，点击“新建安装”按钮。
	</p>
	<p>
		<img src="https://images.wurstclient.net/_media/how-to-install/new_profile.webp" alt='在 Minecraft 启动器中找到“新建安装”按钮'>
	</p>
	<p>
		然后，将 <code>VERSION</code> 更改为 <code>release fabric-loader-...</code>。你也可以根据需要自定义安装的名称和图标。完成后，点击“创建”以保存你的安装配置。
	</p>
	<p>
		<b>警告：</b> 除非你知道你在做什么，否则不要改变 <code>SPIELVERZEICHNIS</code> 选项！
	</p>
	<p>
		<img src="https://images.wurstclient.net/_media/how-to-install/manual_profile_settings.webp" alt="在 Minecraft 启动器中如何手动创建 Fabric Loader 安装">
	</p>
	<div style="padding-left: 0.625rem;border-left: 1px #ccc solid;">
		<h4>元问题排查（因为手动安装可能会复杂）</h4>
		<details>
			<summary id="create-profile-choose-loader-release">我看到了几个 <code>release fabric-loader-...</code> 的选项，不知道该选哪一个。</summary>
			<p>
				好的，让我解释一下这些版本是如何工作的。仔细观察，你会看到在 <code>fabric-loader-</code> 部分之后有两个版本号，它们用短横线分隔。第一个版本是 Fabric Loader 本身的版本，第二个版本是适用于此 Fabric 安装的 Minecraft 版本。
			</p>
			<p>
				Minecraft 版本是关键。如果选择错误，你的安装将无法启动。
			</p>
			<p>
				<img src="https://images.wurstclient.net/_media/how-to-install/loader_version.webp" alt="如何阅读 Fabric Loader 版本">
			</p>
			<p>
				现在，根据这个知识选择适合你想要使用的 Minecraft 版本的 <code>release fabric-loader-...</code> 选项。（在上面的示例中，我使用的是 Minecraft 1.18.2。）
			</p>
		</details>
		<details>
			<summary id="create-profile-loader-release-missing">我没有看到适用于我的 Minecraft 版本的 <code>release fabric-loader-...</code> 选项。</summary>
			<p>
				尝试重新启动 Minecraft 启动器。
				如果这不起作用，你可能忘记安装 Fabric（Loader），请返回到 <a href="#fabric-loader">步骤 1</a>。
			</p>
		</details>
	</div>
</details>