{%- assign wiki = site.data.wikilinks -%}

{%- if page.hacks -%}
<details>
    <summary class="padding10">黑客,Cheats,and Mods：（点击展开）</summary>
    <ul>
        {%- for hack in page.hacks -%}
            <li>
                {%- if wiki.hacks[hack] -%}
                    <a href="{{ wiki.hacks[hack] }}">{{ hack }}</a>
                {%- else -%}
                    {{ hack }}
                {%- endif -%}
            </li>
        {%- endfor -%}
    </ul>
</details>
{%- endif -%}

{%- if page.commands -%}
<details>
    <summary class="padding10">聊天命令：（点击展开）</summary>
    <ul>
        {%- for cmd in page.commands -%}
            <li>
                {%- if wiki.commands[cmd] -%}
                    <a href="{{ wiki.commands[cmd] }}"><code>{{ cmd }}</code></a>
                {%- else -%}
                    <code>{{ cmd }}</code>
                {%- endif -%}
            </li>
        {%- endfor -%}
    </ul>
</details>
{%- endif -%}

{%- if page.other -%}
<details>
    <summary class="padding10">其他特点：（点击展开）</summary>
    <ul>
        {%- for other in page.other -%}
            <li>
                {%- if wiki.other[other] -%}
                    <a href="{{ wiki.other[other] }}">{{ other }}</a>
                {%- else -%}
                    {{ other }}
                {%- endif -%}
            </li>
        {%- endfor -%}
    </ul>
</details>
{%- endif -%}

{%- unless page.mc-1-7-remake -%}
<p><b>想要更多? <a href="/contact/">推荐新功能!</a></b></p>
{%- endunless -%}