<div class="bg-lightGreen padding5" style="display: none" id="afa-prompt">
	<a href="/ad-free/?open=true" class="fg-black" data-analytics="Wurst 更新页面：无广告调用">
		<div class="bg-white padding10 align-center">
			<div class="align-left inline-block">
				<p>
					厌倦了广告？购买<b>无广告访问通行证</b>，享受无干扰的Wurst客户端体验！
				</p>
				<ul class="unstyled-list">
					<li>&check; 无横幅广告</li>
					<li>&check; 无弹出窗口</li>
					<li>&check; 无赞助链接</li>
				</ul>
				<p>
					<span class="button primary shadow bg-lightGreen fg-black bd-green">获取无广告访问</span>
				</p>
			</div>
		</div>
	</a>
</div>
