{%- capture full-version -%}v{{ page.wurst-version }} MC{{ mcversion }}{%- endcapture -%}
{%- capture basepath -%}v{{ page.wurst-version }}/Wurst-Client-v{{ page.wurst-version }}-MC{{ mcversion | replace: " ", "-" }}{%- endcapture -%}

{{/*  查找给定Minecraft版本的最新Wurst版本  */}}
{%- assign latest = null -%}
{%- for update in site.updates reversed -%}
	{%- if update.minecraft-versions contains mcversion or update.snapshots contains mcversion -%}
		{%- unless update.wurst-version contains "pre" -%}
			{%- assign latest = update -%}
			{%- break -%}
		{%- endunless -%}
	{%- endif -%}
{%- endfor -%}

{{/*  如果给定Minecraft版本有更新版本的Wurst，显示警告  */}}
{%- if latest and page != latest -%}
<div class="bg-amber padding5">
	<div class="bg-white padding10">
		<p class="no-margin-top no-margin-bottom">
			<b>重要提示：</b> 您当前查看的是Wurst {{ page.wurst-version }}，这是针对Minecraft {{ mcversion }} 的旧版本。为了获得最佳性能和最新功能，我们建议下载
			<b><a href="{{ latest.url }}?mc={{ mcversion }}"
				data-analytics="旧版本警告：链接点击"
				data-analytics-oldversion="{{ page.wurst-version }}"
				data-analytics-newversion="{{ latest.wurst-version }}"
				data-analytics-mcversion="{{ mcversion }}"
				data-analytics-mcversiontype="{{ mcversion-type }}"
			>
				Wurst {{ latest.wurst-version }} MC{{ mcversion }}
			</a></b>
			作为替代。
		</p>
	</div>
</div>
{%- endif -%}

<p>
	{%- capture mainlink -%}{{ mcxbase }}{{ basepath }}.jar{%- endcapture -%}
	{%- assign mainfile = mainlink | split: '/' | last -%}
	<a class="command-button download"
		href="javascript:void(0)"
		data-href="{{ mainlink }}"
		data-analytics="下载Wurst"
		data-analytics-version="{{ page.wurst-version }}"
		data-analytics-mcversion="{{ mcversion }}"
		data-analytics-mcversiontype="{{ mcversion-type }}"
		data-analytics-modloader="Fabric"
		data-analytics-type="main"
		data-analytics-mirror="GitHub"
		data-analytics-file="{{ mainfile }}"
	>
		<span class="icon mif-file-download"></span>
		Wurst客户端 {{ full-version }}
		<small>文件：{{ mainfile }}</small>
	</a>

	{%- if page.fabric-api -%}
		{%- assign apiversion = page.fabric-api[mcversion] -%}
		{%- assign apiversion_short = apiversion | split: '+' | first -%}
		{%- if apiversion contains "curseforge.com" -%}
			{%- assign apilink = apiversion -%}
			{%- assign mirror = "CurseForge" -%}
		{%- else -%}
			{%- capture apilink -%}https://github.com/FabricMC/fabric/releases/download/{{ apiversion }}/fabric-api-{{ apiversion }}.jar{%- endcapture -%}
			{%- assign mirror = "GitHub" -%}
			{%- assign apifile = apilink | split: '/' | last -%}
		{%- endif -%}
		<a class="command-button"
			href="javascript:void(0)"
			data-href="{{ apilink }}"
			data-analytics="下载Fabric API"
			data-analytics-mirror="{{ mirror }}"
			{% if mirror == "GitHub" -%}
				data-analytics-version="{{ apiversion_short }}"
				data-analytics-file="{{ apifile }}"
			{%- else -%}
				data-analytics-url="{{ apilink }}"
			{%- endif %}
			data-analytics-mcversion="{{ mcversion }}"
			data-analytics-mcversiontype="{{ mcversion-type }}"
			data-analytics-wurstversion="{{ page.wurst-version }}"
			data-analytics-wurstversionmc="{{ page.wurst-version }} MC{{ mcversion }}"
		>
			<img src="https://images.wurstclient.net/_media/icon/fabric.png" width="52" height="56" alt="Fabric图标" class="icon">
			Fabric API
			{% if mirror == "GitHub" -%}
				<small>v{{ apiversion }}</small>
			{%- else -%}
				<small>适用于Minecraft {{ mcversion }}</small>
			{%- endif -%}
		</a>
	{%- endif -%}
</p>

<p>附加文件：</p>
<ul class="spaced-list">
	<li>
		{%- capture srclink -%}{{ mcxbase }}{{ basepath }}-sources.jar{%- endcapture -%}
		{%- assign srcfile = srclink | split: '/' | last -%}
		<a href="javascript:void(0)"
			data-href="{{ srclink }}"
			data-analytics="下载Wurst"
			data-analytics-version="{{ page.wurst-version }}"
			data-analytics-mcversion="{{ mcversion }}"
			data-analytics-mcversiontype="{{ mcversion-type }}"
			data-analytics-modloader="Fabric"
			data-analytics-type="sources"
			data-analytics-mirror="GitHub"
			data-analytics-file="{{ srcfile }}"
		>
			{{ srcfile }}
		</a>
	</li>
	<li>
		{%- capture devlink -%}{{ mcxbase }}{{ basepath }}-dev.jar{%- endcapture -%}
		{%- assign devfile = devlink | split: '/' | last -%}
		<a href="javascript:void(0)"
			data-href="{{ devlink }}"
			data-analytics="下载Wurst"
			data-analytics-version="{{ page.wurst-version }}"
			data-analytics-mcversion="{{ mcversion }}"
			data-analytics-mcversiontype="{{ mcversion-type }}"
			data-analytics-modloader="Fabric"
			data-analytics-type="dev"
			data-analytics-mirror="GitHub"
			data-analytics-file="{{ devfile }}"
		>
			{{ devfile }}
		</a>
	</li>
	<li>
		{%- capture srcdevlink -%}{{ mcxbase }}{{ basepath }}-sources-dev.jar{%- endcapture -%}
		{%- assign srcdevfile = srcdevlink | split: '/' | last -%}
		<a href="javascript:void(0)"
			data-href="{{ srcdevlink }}"
			data-analytics="下载Wurst"
			data-analytics-version="{{ page.wurst-version }}"
			data-analytics-mcversion="{{ mcversion }}"
			data-analytics-mcversiontype="{{ mcversion-type }}"
			data-analytics-modloader="Fabric"
			data-analytics-type="sources-dev"
			data-analytics-mirror="GitHub"
			data-analytics-file="{{ srcdevfile }}"
		>
			{{ srcdevfile }}
		</a>
	</li>
</ul>
