{%- assign wiki = site.data.wikilinks -%}

<aside>
{%- if include.hacks -%}
<details class="included-features">
	<summary id="hacks">黑客、作弊与模组 ({{ include.hacks.size }})</summary>
	<ul>
	{%- for hack in include.hacks -%}
		<li>
		{%- if wiki.hacks[hack] -%}
			<a href="{{ wiki.hacks[hack] }}">{{ hack }}</a>
		{%- else -%}
			{{ hack }}
		{%- endif -%}
		</li>
	{%- endfor -%}
	</ul>
</details>
{%- endif -%}

{%- if include.commands -%}
<details class="included-features">
	<summary id="commands">聊天命令 ({{ include.commands.size }})</summary>
	<ul>
	{%- for cmd in include.commands -%}
		<li>
		{%- if wiki.commands[cmd] -%}
			<a href="{{ wiki.commands[cmd] }}"><code>{{ cmd }}</code></a>
		{%- else -%}
			<code>{{ cmd }}</code>
		{%- endif -%}
		</li>
	{%- endfor -%}
	</ul>
</details>
{%- endif -%}

{%- if include.other -%}
<details class="included-features">
	<summary id="other">其他特性 ({{ include.other.size }})</summary>
	<ul>
	{%- for other in include.other -%}
		<li>
		{%- if wiki.other[other] -%}
			<a href="{{ wiki.other[other] }}">{{ other }}</a>
		{%- else -%}
			{{ other }}
		{%- endif -%}
		</li>
	{%- endfor -%}
	</ul>
</details>
{%- endif -%}

{%- if page.log4shell-patched -%}
<details class="included-features">
	<summary id="safety">安全性</summary>
	<p>&check; 此版本已修复 <a href="https://wurst.wiki/log4shell">Log4Shell</a> 漏洞。</p>
</details>
{%- endif -%}
</aside>
