<details class="included-features">
	<summary id="guis">图形用户界面（GUIs）（3）</summary>
	<p>Wurst不仅有一个GUI。你可以选择你最喜欢的那一个。</p>
	<h3>ClickGUI</h3>
	<p><b><a href="https://wurst.wiki/clickgui">ClickGUI</a></b>可以通过 <kbd>右CTRL</kbd> 键打开。当打开时，它会显示每个类别的窗口，里面包含该类别中所有特性的列表。</p>
	<p>
		<img src="https://images.wurstclient.net/_media/hack/clickgui/clickgui.webp" alt="ClickGUI的截图" width="960" height="540" loading="lazy">
		<img src="https://images.wurstclient.net/_media/hack/clickgui/clickgui_keybind.webp" alt="Wurst的ClickGUI快捷键（右CTRL键）的可视化" width="960" height="288" loading="lazy">
	</p>
	<h3>导航器（Navigator）</h3>
	<p><b><a href="https://wurst.wiki/navigator">导航器</a></b>可以通过 <kbd>右Shift</kbd> 键打开。当打开时，它会显示Wurst中所有特性的可搜索列表。</p>
	<p>
		<img src="https://images.wurstclient.net/_media/navigator.webp" alt="导航器的截图" width="960" height="540" loading="lazy">
		<img src="https://images.wurstclient.net/_media/navigator_keybind.webp" alt="Wurst的导航器快捷键（右Shift键）的可视化" width="960" height="288" loading="lazy">
	</p>
	<h3>TabGUI</h3>
	<p><b><a href="https://wurst.wiki/tabgui">TabGUI</a></b>没有默认的快捷键。你可以通过打开导航器GUI并搜索“TabGUI”来启用它（别担心，这个过程只需做一次）。</p>
	<p>启用后，你可以使用 <kbd>方向键</kbd> 来更改选择，使用 <kbd>Enter</kbd> 来切换选定的特性。</p>
	<p>
		<img src="https://images.wurstclient.net/_media/tabgui.webp" alt="TabGUI的截图" width="500" height="340" loading="lazy">
		<img src="https://images.wurstclient.net/_media/tabgui_controls.webp" alt="Wurst的TabGUI控制（方向键 + Enter）的可视化" width="960" height="288" loading="lazy">
	</p>
</details>
