<h2>安装</h2>

{%- if page.fabric -%}
	<p>
		Wurst 7的安装方式与其他Fabric模组相同。
		以下是基本的安装步骤：
	</p>
	<ol>
		<li>运行Fabric安装程序。</li>
		<li>将Wurst客户端和Fabric API添加到你的模组文件夹中。</li>
	</ol>
	<p>
		如果你需要更详细的说明或遇到任何问题，请参考
		<a href="/tutorials/how-to-install/wurst-7">完整的Wurst 7安装指南</a>。
	</p>
{%- elsif page.mc-1-7-remake -%}
	<p>
		由于这是一个重制版，安装过程与
		<a href="/tutorials/how-to-install/wurst-6/">Wurst 6相同</a>。
		请确保你安装了Minecraft 1.7.2（而不是1.7.10），
		以确保Wurst安装程序能够正常工作。
	</p>
{%- else -%}
	<p>
		基本上，只需运行安装程序。
		有关详细信息，请参见<a href="/tutorials/how-to-install/wurst-6/">此教程</a>。
	</p>
{%- endif -%}

<p>
	此外，这应该是显而易见的，但你需要拥有一份许可的
	Minecraft Java版副本才能使用Wurst。Wurst是一个作弊客户端，
	而不是一个盗版客户端。
</p>
