<div class="padding10 no-padding-left no-padding-right">

	<h3>Wurst作为Torrent</h3>

	<p>
		此Torrent包含上述所有版本的打包
		{%- if page.fabric %}（不包括Fabric API）{% endif %}。
		在你的Torrent客户端中打开它以选择你想要下载的版本。
	</p>

	<p>
		<b>警告：</b>
		使用Torrent会将你的IP地址公开。服务器拥有者 *可能* 会监控此Torrent并自动封禁下载过该文件的IP地址。
		考虑通过VPN或某种代理进行Torrent下载。
		（此问题仅影响Torrent下载。上面列出的“正常”下载可以安全地下载，无需VPN。）
	</p>

	<a href="{{ page.torrent }}" rel="nofollow" target="_blank"
		data-analytics="Torrent Wurst" data-analytics-version="{{ page.wurst-version }}"
		class="tile inline-block no-float bg-grayDark command-button primary no-border"
		style="width: auto;height: auto;">
		<span class="icon mif-folder-download"></span>
		Wurst客户端 v{{ page.wurst-version }}
		<small>适用于上述所有Minecraft版本</small>
	</a>

	<p>如果你想通过做种来帮助这些Torrent，可以在<a href="/seedme.txt">这里</a>找到完整列表。</p>

</div>